<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Utwory w Playliście</title>
    <style>
        body { font-family: sans-serif; background: #121212; color: white; padding: 20px; text-align: center;}
        .container { max-width: 600px; margin: auto; }
        .track-item { background: #181818; margin: 10px 0; padding: 15px; border-radius: 8px; border-left: 5px solid #1DB954; text-align: left;}
        .btn { background: #1DB954; color: white; padding: 10px 20px; text-decoration: none; border-radius: 20px; font-weight: bold;}
    </style>
</head>
<body>
    <div class="container">
        <h1>Wczytano piosenki! 🎧</h1>
        <p>Liczba utworów: <strong>{{ total_tracks }}</strong></p>

        <br>
        <a href="{% url 'home' %}" class="btn">← Wróć do playlist</a>
        <hr style="border-color: #333; margin: 20px 0;">

        {% for track in tracks %}
    <div style="background: #181818; margin: 10px; padding: 15px; border-radius: 8px;">
        <strong style="color: #1DB954;">{{ track.name }}</strong><br>
        <small>{{ track.artist }}</small>
    </div>
        {% empty %}
    <p>Ta playlista jest pusta!</p>
        {% endfor %}
    </div>
</body>
</html>